# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.FatherTed.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Mark Lambe\Documents\GitHub\Father-Ted\FatherTed\.idea\.idea.FatherTed\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
